<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- SMTP-->
    <!--<add key="SMTP_HOST" value="mail.modizson.com" />
    <add key="SMTP_FROM" value="info@modizson.com" />
    <add key="SMTP_TO" value="info@modizson.com" />
    <add key="Support_Email" value="info@modizson.com" />
    <add key="SMTP_UserName" value="info" />
    <add key="SMTP_Password" value="Year2016$" />-->

    <!--1&1 CONFIG-->
    <add key="SMTP_HOST" value="auth.smtp.1and1.co.uk" />
    <add key="SMTP_FROM" value="info@modizson.com" />
    <add key="SMTP_TO" value="info@modizson.com" />
    <add key="Support_Email" value="info@modizson.com" />
    <add key="SMTP_UserName" value="m83510685-118013067" />
    <add key="SMTP_Password" value="Year2018$" />


    <add key="TESTMODE" value="true" />

    <!-- Any upload Path -->
    <add key="upload" value="\upload\" />

    <!-- Transactional Email Templates Path -->
    <add key="mxTemplatePath" value="\Mailout\" />


  </appSettings>

  <!--<connectionStrings>
    <add name="bgDBContainer" connectionString="metadata=res://*/bgDB.csdl|res://*/bgDB.ssdl|res://*/bgDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=modiz;initial catalog=BGDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->


  <!--<connectionStrings>
    <add name="bgDBContainer" connectionString="metadata=res://*/bgDB.csdl|res://*/bgDB.ssdl|res://*/bgDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_A142CC_BGDB;User Id=DB_A142CC_BGDB_admin;Password=Year2016;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <!-- LAPTOP  OLD CONNECTION STRING WITH BG SCHEMA
  <connectionStrings>
    <add name="bgDBContainer" connectionString="metadata=res://*/bgDB.csdl|res://*/bgDB.ssdl|res://*/bgDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1CQE15U;initial catalog=DB_A142CC_BGDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
-->
  
  <!-- LAPTOP  NEW CONNECTION STRING WITH DBO SCHEMA   -->
  <connectionStrings>
    <add name="bgDBNewContainer" connectionString="metadata=res://*/bgDBNew.csdl|res://*/bgDBNew.ssdl|res://*/bgDBNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_A142CC_BGDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <!-- IONOS CONNECTION STRING  
  <connectionStrings>
    <add name="bgDBNewContainer" connectionString="metadata=res://*/bgDBNew.csdl|res://*/bgDBNew.ssdl|res://*/bgDBNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db888439092.hosting-data.io;initial catalog=db888439092;User Id=dbo888439092;Password=Year2021$123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
--> 



  <!--<connectionStrings>
    <add name="bgDBContainer" connectionString="metadata=res://*/bgDB.csdl|res://*/bgDB.ssdl|res://*/bgDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-SD66G75\MODIZSONPC;Initial Catalog=BGDB_Live;User Id=sa;Password=Year2020$;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
