@{
    ViewBag.Title = "Welcome to Badminton Crew";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}


<section id="joinus">
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Hey @ViewBag.Name</h2>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="col-sm-12 text-center">
                                <h3>PASSWORD CHANGED</h3>
                                <p>Your password has been changed successfully. Please use your new password to log in...</p>


                                <p style="margin-top:30px;">
                                    @Html.ActionLink("Login", "Login")
                                </p>



                                <p>See you inside!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


